<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group">
                <!-- list group item-->
                <li class="list-group-item" *ngFor="let p of products" [@EnterLeave]="'flyIn'">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2" style="cursor: pointer;"
                                [routerLink]="['/home/details', p?.id]">{{p?.name}}</h5>
                            <p class="font-italic text-muted mb-0 small">{{p?.description}}</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">${{p?.price}} <span>&nbsp;&nbsp;
                                    <input [class]="lastProductsCount(p?.id) != 0 ? 'btn btn-sm btn-primary' : 'btn btn-sm btn-danger disabled'" style="cursor: pointer;" role="button" (click)="add2Cart(p)" [value]="lastProductsCount(p?.id) !=0 ? 'Add to Cart' : 'Out of Stock'"/>
                                    </span>
                                </h6>
                                <hr>
                                <ul class="list-inline small">
                                    <li class="list-inline-item m-0" *ngFor="let s of staRR">
                                        <i
                                            [class]="p?.star >= s ? 'fa fa-star text-success' : 'fa fa-star-o text-gray'"></i>
                                    </li>
                                </ul>
                            </div>
                            <span *ngIf="lastProductsCount(p?.id) != 0" style="font-size: 12px; color:crimson;">Last {{lastProductsCount(p?.id)}}
                                Products</span>
                        </div>
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>
    <app-toast [data]="product" (outUpdate)="outUpdateData($event)"
  ></app-toast>
</div>