<ul class="list-group fix-alert">
    <li class="list-group-item list-group-item-danger" *ngIf="datas?.length != 0" [@fadeInOut]>
        Recent Activities - Total : {{getTotoalPrice(datas)}} (x{{datas.length}})
    </li>
    <li class="list-group-item list-group-item-info" *ngFor="let data of datas" [@fadeInOut]>    
        {{data?.name}} 's added to cart!
        <span style="text-decoration: underline; cursor: pointer;"
        (click)="remove(data)">(Remove from Cart)</span>
    </li>
</ul>